.pageheader {
    text-align:center;
}

.textstyle {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.expletus-sans {
    font-family: "Expletus Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}